.git
.gitignore
.env
.env.*

**/node_modules
**/dist
**/.hemttout
**/target
**/storage
**/*.pbo
**/*.bisign
**/*.bikey
**/*.dll

addons
docs
extension
scripts
servermod

!backend
!backend/**
!database
!database/**
!docker-compose.yml
